@use '../../styles/variables' as *;

.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  color: $white;
  font-size: 16px;
  margin-right: 8px;
}

.button {
  color: rgba(255, 255, 255, 0.65);
  min-width: 40px;

  &:hover {
    color: $white;
  }

  &:global(.ant-btn-primary) {
    color: $white;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: transparent;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
